button {
    border: none;
    background-color: #333333;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 0.625rem;
    outline: none;

    &:hover {
        background-color: #000000;
    }
}

.equals {
    grid-column: 3 / 5;
    background-color: #FF9F09;

    &:hover {
        background-color: #F09F09;
    }
}
