.screen {
    height: 6.25rem;
    width: 100%;
    margin-bottom: 0.625rem;
    padding: 0 0.625rem;
    background-color: #4357692d;
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}