.wrapper {
    width: 21.25rem;
    height: 33.75rem;
    padding: 1rem;
    border-radius: 0.625rem;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}